table {
    border-collapse: collapse;
}
.time {
    font-size: 0.25rem;
}
tr > th {
    background-color: rgb(130, 149, 156);
    color: white;
    border: 2px solid white;
    border-radius: 20% 20% 0 0;
}
th, td {
    vertical-align: middle;
    text-align: center;
    border: 2px solid grey;
    padding: 0.25rem;
}